<!--View associated to frmAdd action of OrgaController controller -->
<div class="ui blue segment">
<form class="ui form" action="{{path(routeName)}}" method="post">
    <div class="field">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name...">
    </div>
    <div class="field">
        <label>Domain</label>
        <input type="text" name="domain" placeholder="Domain...">
    </div>
    <div class="field">
        <label>Aliases</label>
        <input type="text" name="aliases" placeholder="Aliases...">
    </div>
    <div class="ui segment">
        <button class="ui green button" type="submit">Valider</button>
    </div>
</form>
</div>